@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100%;
    background-color: #b8b894;
    font-family: 'Josefine Sans', sans-serif;
}

h1 {
    margin-top: 10%;
}

.active {
    background-color: black;
}

#menu-bar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10%;
}

button {
    margin: 20px;
    padding: 7px;
    min-width: 50px;
}

button:hover {
    background-color:#b8b894;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    width: 500px;
    margin: 10%;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.item {
    background-color: white;
    border: 0.2px solid gray;
    flex: 1;
}